@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./parallax.css";

body {
  background-color:antiquewhite
}

button {
  background-color: #f57b20;
  color: #fafafa;
}

/* Curriculum */
.curriculum  h1{
  font-weight: bold;
}

.curriculum h2 {
  text-decoration: underline;
}

.curriculum ul {
  list-style: square outside;
  margin-left: 20px;
  padding-left: 0;
}